#### Exercise 2 - Create a markdown cell with the title of the notebook. (1 pt)
# Data Science Tools and Ecosystem

#### Exercise 3 - Create a markdown cell for an introduction. (1 pt)
### In this notebook, Data Science Tools and Ecosystem are summarized.

#### Exercise 4 - Create a markdown cell to list data science languages. (3 pts)
Some of the popular languages that Data Scientists use are:

1. Python  
2. R  
3. SQL  
4. Julia  
5. Scala

#### Exercise 5 - Create a markdown cell to list data science libraries. (3 pts)
Some of the commonly used libraries used by Data Scientists include:

1. NumPy  
2. Pandas  
3. Matplotlib  
4. Scikit-learn  
5. TensorFlow

#### Exercise 6 - Create a markdown cell with a table of Data Science tools. (3 pts)

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Apache Zeppelin    |

#### Exercise 7 - Create a markdown cell introducing arithmetic expression examples. (1 pt)
### Below are a few examples of evaluating arithmetic expressions in Python.

- `3 + 5` results in **8**
- `10 - 4` results in **6**
- `6 * 7` results in **42**
- `20 / 4` results in **5.0**
- `2 ** 3` results in **8**

In [2]:
# Exercise 8 - Create a code cell to multiply and add numbers. (2 pts)
# This is a simple arithmetic expression to multiply then add integers
(3 * 4) + 5

17

In [3]:
# Exercise 9 - Create a code cell to convert minutes to hours. (2 pts)
# This will convert 200 minutes to hours by dividing by 60
200 / 60

3.3333333333333335

#### Exercise 10 -Insert a markdown cell to list Objectives. (3 pts)
**Objectives:**

- List popular languages for Data Science  
- Introduce commonly used libraries for Data Science  
- Create tables and lists using Markdown in Jupyter Notebooks  
- Perform arithmetic operations using Python code  
- Convert units using simple Python expressions

#### Exercise 11 - Create a markdown cell to indicate the Authorâ€™s name. (2 pts)
## Author

Camilo Orozco Arenas